variables:
  CI_DOCKERHUB_IMAGE: huncrys/samba

include:
  - component: $CI_SERVER_FQDN/oaklab/ci-templates/hadolint@10
  - component: $CI_SERVER_FQDN/oaklab/ci-templates/oci-publish@10
    inputs:
      licenses: AGPL-3.0-or-later
      platforms:
        - linux/amd64
        - linux/386
        - linux/arm64
        - linux/arm/v7
        - linux/arm/v6
        - linux/ppc64le
        - linux/riscv64
        - linux/s390x
      registry-cache: true
